/* COLORS
 * DBF4A7 - light green
 * 788AA3 - med blue
 * D5F9DE - light minty blue
 * 463F3A - black
 * F05D5E - red
--------------*/
/* GLOBAL STYLES
--------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background: #788AA3;
    font-family: 'Courier New', sans-serif;
    margin: 0;
}
h1, h2{
    font-family: 'Tahoma', serif;
    font-weight: 400;
}
a {
    color: #F05D5E;
}
a:hover{
    text-decoration: none;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}
.col-narrow{
    width: 30%;
}
.col-wide{
    width: 70%;
}
/* HEADER AND FOOTER
--------------*/
header, footer{
    background: #463F3A;
    color: #D5F9DE;
}
header h1, header h2{
    color: #FFFFFF;
    margin:0;
}
.profile-img{
    width: 300px;
    float: left;
    margin-right: 30px;
}

footer{
    text-align: center;
}
.contact-info a{
    padding: 10px;
    display: inline-block;
}
/* WORK EXPERIENCE
--------------*/
.work-experience{
    background: #DBF4A7;
}

/* EDUCATION
--------------*/
.education{
    background: #F05D5E;
}